.app-impressum {
    &_container {
        width: 93%;
        margin: 0px auto;
        max-width: 1430px;
        min-height: 93vh;
    }
    &_content {
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 25px;
        font-size: 13px;
        font-weight: lighter;
    }
    &_headline {
        font-size: 20px;
        margin-bottom: 40px;
    }
    &_links {
        text-decoration: none;
        color: inherit;
    }
    &_webdesign-headline {
        margin: 0px
    }
}
