<div class="app-home_container">
    <div class="app-home_left-side">
        <div class="app-home_left-side_content-wrap">
            <div class="app-home_carousel-container">
                <app-header></app-header>
                <mat-carousel class="app-home_carousel-dots-arrows" timings="250ms ease-in" [autoplay]="true" interval="6000" color="accent" maxWidth="500px" proportion="140" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                    [useMouseWheel]="false" orientation="ltr">
                    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#00000000" [hideOverlay]="false"></mat-carousel-slide>
                </mat-carousel>
            </div>
        </div>
        <div class="app-home_footer_container">
            <a class="app-home_footer_navigation-items" [routerLink]="['/impressum']" fragment="impressum">IMPRESSUM & DATENSCHUTZ</a>
        </div>
    </div>
    <div class="app-home_right-side">
        <div class="app-home_right-side_content-wrap">
            <p class="app-home_description">Berlin-based Full Service Renovations and Home Repairs in English, German, Russian</p>
            <img class="app-home_logo" [src]="'assets/images/logoRc.png'" alt="logo">
            <div class="app-home_examples-project-images">
                <a class="app-home_link" [routerLink]="['/projects']" fragment="kitchen">
                    <div>
                        <img @ImageSliderEnter1 class="app-home_example" [src]="'assets/images/kitchen.png'" alt="kitchen">
                        <p class="app-home_description-images">Kitchen</p>
                    </div>
                </a>
                <div class="app-home_separation-line"></div>
                <div>
                    <a class="app-home_link" [routerLink]="['/projects']" fragment="bathroom">
                        <img @ImageSliderEnter2 class="app-home_example" [src]="'assets/images/bathroom.png'" alt="bathroom">
                        <p class="app-home_description-images">Bathroom</p>
                    </a>
                </div>
                <div class="app-home_separation-line"></div>
                <div>
                    <a class="app-home_link" [routerLink]="['/projects']" fragment="floors">
                        <img @ImageSliderEnter3 class="app-home_example" [src]="'assets/images/floors.png'" alt="floors">
                        <p class="app-home_description-images">Floors</p>
                    </a>
                </div>
            </div>
            <button class="app-home_button-services" type="button" [routerLink]="['/services']" fragment="services" mat-raised-button> OUR SERVICES
        </button>
        </div>
        <div class="app-home_footer_copyright-section">
            <span class="material-icons app-home_footer-copyright-icon">copyright</span>
            <p class="app-home_footer_copyright-text">EE Raumconcept GmbH 2021</p>
        </div>
    </div>
</div>

<!-- mobile home screen -->
<div class="app-home_container-mobile">
    <div class="app-home_content-wrap">
        <div class="app-home_header">
            <app-header></app-header>
            <img class="app-home_logo" [src]="'assets/images/logoRc.png'" alt="logo">
        </div>
        <div class="app-home_carousel-container">
            <mat-carousel class="app-home_carousel-dots-arrows" timings="250ms ease-in" [autoplay]="true" interval="6000" color="accent" maxWidth="500px" proportion="140" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
                [useMouseWheel]="false" orientation="ltr">
                <mat-carousel-slide class="app-home_carousel-slide" #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#00000000" [hideOverlay]="false"></mat-carousel-slide>
            </mat-carousel>
        </div>
        <p class="app-home_description">Berlin-based Full Service Renovations and Home Repairs in English, German, Russian</p>
        <div class="app-home_examples-project-images">
            <a class="app-home_link" [routerLink]="['/projects']" fragment="kitchen">
                <div>
                    <img @ImageSliderEnter1 class="app-home_example" [src]="'assets/images/kitchen.png'" alt="kitchen">
                    <p class="app-home_description-images">Kitchen</p>
                </div>
            </a>
            <div class="app-home_separation-line"></div>
            <div>
                <a class="app-home_link" [routerLink]="['/projects']" fragment="bathroom">
                    <img @ImageSliderEnter2 class="app-home_example" [src]="'assets/images/bathroom.png'" alt="bathroom">
                    <p class="app-home_description-images">Bathroom</p>
                </a>
            </div>
            <div class="app-home_separation-line"></div>
            <div>
                <a class="app-home_link" [routerLink]="['/projects']" fragment="floors">
                    <img @ImageSliderEnter3 class="app-home_example" [src]="'assets/images/floors.png'" alt="floors">
                    <p class="app-home_description-images">Floors</p>
                </a>
            </div>
        </div>
        <button class="app-home_button-services" type="button" [routerLink]="['/services']" fragment="services" mat-raised-button> OUR SERVICES
        </button>
        <div class="app-home_footer_container">
            <a class="app-home_footer_navigation-items" [routerLink]="['/impressum']" fragment="impressum">IMPRESSUM & DATENSCHUTZ</a>
            <div class="app-home_footer_copyright-section">
                <span class="material-icons app-home_footer-copyright-icon">copyright</span>
                <p class="app-home_footer_copyright-text">EE Raumconcept GmbH 2021</p>
            </div>
        </div>
    </div>
