<div class="app-projects_container">
    <div class="app-projects_content-wrap">
        <app-header></app-header>
        <h3 @EnterLeaveHeadline class="app-projects_headline">PROJECTS</h3>

        <div class="app-projects_project-1">
            <div id="bathroom" @EnterLeaveProject1 class="app-projects_description-box-1 description-box ">
                <h3 class="app-projects_description-box-headline">FULL BATHROOM</h3>
                <p class="app-projects_description-box-description">interior design consultation | room extension | tiling | bathroom installation </p>
            </div>
            <img @EnterLeaveProject1 class="app-projects_image-project1-1" [src]="'assets/images/bad1.jpg'" alt="bad">
            <img @EnterLeaveProject1 class="app-projects_image-project1-2" [src]="'assets/images/bad2.jpg'" alt="bad">
            <img @EnterLeaveProject1 class="app-projects_image-project1-3" [src]="'assets/images/bad3.jpg'" alt="bad">
            <img @EnterLeaveProject1 class="app-projects_image-project1-4" [src]="'assets/images/bad4.jpg'" alt="bad">
            <img #slideElement class="app-projects_image-project1-2_mobile-version" [src]="'assets/images/bad2.jpg'" alt="bad">
            <img #slideElement class="app-projects_image-project1-3_mobile-version" [src]="'assets/images/bad3.jpg'" alt="bad">
            <img #slideElement class="app-projects_image-project1-4_mobile-version" [src]="'assets/images/bad4.jpg'" alt="bad">
        </div>
        <div #slideElement class="app-projects_seperation-line-1">
        </div>

        <div class="app-projects_project-2">
            <div #slideElement class="app-projects_description-box-2 description-box">
                <h3 class="app-projects_description-box-headline">ATTIC BATHROOM</h3>
                <p class="app-projects_description-box-description">exposed beams | bathroom installation | painting | tiling | plumbing</p>
            </div>
            <img class="app-projects_image-project2-1" #slideElement [src]="'assets/images/bad3-2.jpg'" alt="bad">
            <img #slideElement class="app-projects_image-project2-2" [src]="'assets/images/bad3-1.jpg'" alt="bad">
        </div>
        <div #slideElement class="app-projects_seperation-line-2">
        </div>

        <div class="app-projects_project-3">
            <div id="kitchen" #slideElement class="app-projects_description-box-3 description-box">
                <h3 class="app-projects_description-box-headline">SMALL SPACE SOLUTION</h3>
                <p class="app-projects_description-box-description">reimagining desing | demolition | dry wall installation | plumbing | electrical | tiling</p>
            </div>
            <img #slideElement class="app-projects_image-project3-1" [src]="'assets/images/bad2-3.jpg'" alt="bad">
            <img #slideElement class="app-projects_image-project3-2" [src]="'assets/images/bad2-2.jpg'" alt="bad">
            <img #slideElement class="app-projects_image-project3-3" [src]="'assets/images/bad2-1.jpg'" alt="bad">
        </div>
        <div #slideElement class="app-projects_seperation-line-3">
        </div>

        <div class="app-projects_project-4">
            <div #slideElement class="app-projects_description-box-4 description-box">
                <h3 class="app-projects_description-box-headline">OPEN SPACE RENOVATION</h3>
                <p class="app-projects_description-box-description">herringbone flooring | underfloor heating | new windows installation | full kitchen renovation | skylight installation | lighting</p>
            </div>
            <img #slideElement class="app-projects_image-project4-1" [src]="'assets/images/floors1-1.jpg'" alt="kueche">
            <img #slideElement class="app-projects_image-project4-2" [src]="'assets/images/floors1-2.jpg'" alt="wohnzimmer">
            <img #slideElement class="app-projects_image-project4-3" [src]="'assets/images/floors1-3.jpg'" alt="wohnzimmer">
        </div>
        <div #slideElement class="app-projects_seperation-line-4">
        </div>

        <div class="app-projects_project-5">
            <div id="floors" #slideElement class="app-projects_description-box-5 description-box">
                <h3 class="app-projects_description-box-headline">NATURAL WOOD FLOORING</h3>
                <p class="app-projects_description-box-description">sanding | oiling and polishing | painting | drywall repairs | electrical</p>
            </div>
            <img #slideElement class="app-projects_image-project5-1" [src]="'assets/images/floors2-2.jpg'" alt="kueche">
            <img #slideElement class="app-projects_image-project5-2" [src]="'assets/images/floors2-1.jpg'" alt="wohnzimmer">
        </div>
        <div #slideElement class="app-projects_seperation-line-5">
        </div>
    </div>
    <app-footer></app-footer>
</div>
