            .app-projects {
                &_container {
                    position: relative;
                    width: 93%;
                    margin: 0 auto;
                    max-width: 1380px;
                    min-height: 93vh;
                }
                &_content-wrap {
                    height: 6600px;
                }
                &_headline {
                    font-size: 21px;
                    position: absolute;
                    right: 318px;
                    top: 109px;
                }
                &_description-box-1 {
                    font-size: 13px;
                    max-width: 150px;
                    position: absolute;
                    top: 297px;
                    left: 6%;
                }
                &_description-box-headline {
                    font-size: 13px;
                    font-weight: lighter;
                    margin-bottom: 0px;
                }
                &_description-box-description {
                    font-weight: lighter;
                    margin-top: 10px;
                    font-size: 13px;
                    letter-spacing: 1px;
                }
                &_image-project1-1 {
                    position: absolute;
                    width: 291px;
                    left: 85px;
                    top: 465px;
                }
                &_image-project1-2 {
                    position: absolute;
                    width: 250px;
                    top: 304px;
                    left: 453px;
                    &_mobile-version {
                        display: none
                    }
                }
                &_image-project1-3 {
                    position: absolute;
                    width: 250px;
                    left: 453px;
                    top: 681px;
                    &_mobile-version {
                        display: none
                    }
                }
                &_image-project1-4 {
                    position: absolute;
                    width: 478px;
                    top: 302px;
                    right: 84px;
                    &_mobile-version {
                        display: none
                    }
                }
                &_seperation-line-1 {
                    position: absolute;
                    border-bottom: 1px solid white;
                    width: 528px;
                    top: 1143px;
                    left: 6%;
                    opacity: 0;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        position: absolute;
                        border-bottom: 1px solid white;
                        width: 528px;
                        top: 1143px;
                        opacity: 1;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project2-1 {
                    position: absolute;
                    width: 566px;
                    left: 654px;
                    top: 1525px;
                    opacity: 0;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        position: absolute;
                        opacity: 1;
                        width: 566px;
                        left: 654px;
                        top: 1525px;
                        transform: translateX(0)
                    }
                }
                &_image-project2-2 {
                    position: absolute;
                    width: 369px;
                    top: 1264px;
                    left: 180px;
                    opacity: 0;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        position: absolute;
                        opacity: 1;
                        width: 369px;
                        top: 1264px;
                        left: 180px;
                        transform: translateX(0)
                    }
                }
                &_description-box-2 {
                    position: absolute;
                    top: 1248px;
                    font-weight: lighter;
                    width: 150px;
                    left: 654px;
                    transition: all 1.3s;
                    opacity: 0;
                    transform: translateX(-100%);
                    &.active {
                        position: absolute;
                        top: 1248px;
                        font-weight: lighter;
                        width: 150px;
                        left: 654px;
                        opacity: 1;
                        transform: translateX(0)
                    }
                }
                &_seperation-line-2 {
                    position: absolute;
                    border-bottom: 1px solid white;
                    width: 528px;
                    top: 2091px;
                    left: 6%;
                    opacity: 0;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        position: absolute;
                        border-bottom: 1px solid white;
                        width: 528px;
                        top: 2091px;
                        left: 6%;
                        opacity: 1;
                        transform: translateX(0)
                    }
                }
                &_image-project3-1 {
                    opacity: 0;
                    position: absolute;
                    width: 475px;
                    left: 429px;
                    top: 2477px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 475px;
                        left: 429px;
                        top: 2477px;
                        transform: translateX(0)
                    }
                }
                &_image-project3-2 {
                    opacity: 0;
                    position: absolute;
                    width: 300px;
                    top: 2183px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 300px;
                        top: 2183px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project3-3 {
                    opacity: 0;
                    position: absolute;
                    width: 300px;
                    top: 2183px;
                    right: 84px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 300px;
                        top: 2183px;
                        right: 84px;
                        transform: translateX(0)
                    }
                }
                &_description-box-3 {
                    opacity: 0;
                    position: absolute;
                    top: 2164px;
                    font-weight: lighter;
                    width: 150px;
                    left: 637px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        top: 2164px;
                        font-weight: lighter;
                        width: 150px;
                        left: 637px;
                        transform: translateX(0)
                    }
                }
                &_seperation-line-3 {
                    opacity: 0;
                    position: absolute;
                    border-bottom: 1px solid white;
                    width: 528px;
                    top: 2917px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        border-bottom: 1px solid white;
                        width: 528px;
                        top: 2917px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project4-1 {
                    opacity: 0;
                    position: absolute;
                    width: 350px;
                    top: 3023px;
                    right: 504px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 350px;
                        top: 3023px;
                        right: 504px;
                        transform: translateX(0)
                    }
                }
                &_image-project4-2 {
                    opacity: 0;
                    position: absolute;
                    width: 361px;
                    top: 3023px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 361px;
                        top: 3023px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project4-3 {
                    opacity: 0;
                    position: absolute;
                    width: 368px;
                    top: 3279px;
                    right: 84px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 368px;
                        top: 3279px;
                        right: 84px;
                        transform: translateX(0)
                    }
                }
                &_description-box-4 {
                    opacity: 0;
                    position: absolute;
                    top: 3002px;
                    font-weight: lighter;
                    width: 150px;
                    left: 958px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        top: 3002px;
                        font-weight: lighter;
                        width: 150px;
                        left: 958px;
                        transform: translateX(0)
                    }
                }
                &_seperation-line-4 {
                    opacity: 0;
                    position: absolute;
                    border-bottom: 1px solid white;
                    width: 528px;
                    top: 3814px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        border-bottom: 1px solid white;
                        width: 528px;
                        top: 3814px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project5-1 {
                    opacity: 0;
                    position: absolute;
                    width: 448px;
                    top: 3922px;
                    left: 723px;
                    ;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 448px;
                        top: 3922px;
                        left: 723px;
                        ;
                        transform: translateX(0)
                    }
                }
                &_image-project5-2 {
                    opacity: 0;
                    position: absolute;
                    width: 413px;
                    top: 4131px;
                    left: 188px;
                    transition: all 1.3s;
                    transform: translateX(-130%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 413px;
                        top: 4131px;
                        left: 188px;
                        transform: translateX(0)
                    }
                }
                &_description-box-5 {
                    opacity: 0;
                    position: absolute;
                    top: 3915px;
                    font-weight: lighter;
                    width: 150px;
                    left: 188px;
                    transition: all 1.3s;
                    transform: translateX(-130%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        top: 3915px;
                        font-weight: lighter;
                        width: 150px;
                        left: 188px;
                        transform: translateX(0)
                    }
                }
                &_seperation-line-5 {
                    opacity: 0;
                    position: absolute;
                    border-bottom: 1px solid white;
                    width: 528px;
                    top: 4621px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-130%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        border-bottom: 1px solid white;
                        width: 528px;
                        top: 4621px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project6-1 {
                    opacity: 0;
                    position: absolute;
                    width: 456px;
                    top: 4861px;
                    left: 6%;
                    ;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 456px;
                        top: 4864px;
                        left: 6%;
                        ;
                        transform: translateX(0)
                    }
                }
                &_image-project6-2 {
                    opacity: 0;
                    position: absolute;
                    width: 330px;
                    top: 4726px;
                    right: 32%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 330px;
                        top: 4726px;
                        right: 32%;
                        transform: translateX(0)
                    }
                }
                &_image-project6-3 {
                    opacity: 0;
                    position: absolute;
                    width: 330px;
                    top: 5211px;
                    right: 32%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 448px;
                        width: 330px;
                        top: 5211px;
                        right: 32%;
                        transform: translateX(0)
                    }
                }
                &_image-project6-4 {
                    opacity: 0;
                    position: absolute;
                    width: 300px;
                    top: 4864px;
                    right: 84px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 300px;
                        top: 4864px;
                        right: 84px;
                        transform: translateX(0)
                    }
                }
                &_image-project6-5 {
                    opacity: 0;
                    position: absolute;
                    width: 300px;
                    top: 5317px;
                    right: 84px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 300px;
                        top: 5317px;
                        right: 84px;
                        transform: translateX(0)
                    }
                }
                &_description-box-6 {
                    opacity: 0;
                    position: absolute;
                    top: 4700px;
                    font-weight: lighter;
                    width: 150px;
                    left: 188px;
                    transition: all 1.3s;
                    transform: translateX(-130%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        top: 4715px;
                        font-weight: lighter;
                        width: 150px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_seperation-line-6 {
                    opacity: 0;
                    position: absolute;
                    border-bottom: 1px solid white;
                    width: 528px;
                    top: 5750px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-130%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        border-bottom: 1px solid white;
                        width: 528px;
                        top: 5750px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project7-1 {
                    opacity: 0;
                    position: absolute;
                    width: 300px;
                    top: 5849px;
                    right: 84px;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 300px;
                        top: 5849px;
                        right: 84px;
                        transform: translateX(0)
                    }
                }
                &_image-project7-2 {
                    opacity: 0;
                    position: absolute;
                    width: 290px;
                    top: 5846px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 290px;
                        top: 5846px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
                &_image-project7-3 {
                    opacity: 0;
                    position: absolute;
                    width: 270px;
                    top: 6083px;
                    right: 30%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 270px;
                        top: 6083px;
                        right: 30%;
                        transform: translateX(0)
                    }
                }
                &_image-project7-4 {
                    opacity: 0;
                    position: absolute;
                    width: 250px;
                    top: 6081px;
                    right: 52%;
                    transition: all 1.3s;
                    transform: translateX(-100%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        width: 250px;
                        top: 6081px;
                        right: 52%;
                        transform: translateX(0)
                    }
                }
                &_description-box-7 {
                    opacity: 0;
                    position: absolute;
                    top: 5837px;
                    font-weight: lighter;
                    width: 150px;
                    left: 58%;
                    transition: all 1.3s;
                    transform: translateX(-130%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        top: 5837px;
                        font-weight: lighter;
                        width: 150px;
                        left: 58%;
                        transform: translateX(0)
                    }
                }
                &_seperation-line-7 {
                    opacity: 0;
                    position: absolute;
                    border-bottom: 1px solid white;
                    width: 528px;
                    top: 6500px;
                    left: 6%;
                    transition: all 1.3s;
                    transform: translateX(-130%);
                    &.active {
                        opacity: 1;
                        position: absolute;
                        border-bottom: 1px solid white;
                        width: 528px;
                        top: 6500px;
                        left: 6%;
                        transform: translateX(0)
                    }
                }
            }

            // -------------- MEDIA QUERIES ----------------//
            //smaller screen
            @media screen and (max-width:1400px) {
                .app-projects {
                    &_headline {
                        position: absolute;
                        right: 318px;
                        top: 100px;
                    }
                    &_image-project1-2 {
                        display: none;
                        &_mobile-version {
                            display: none
                        }
                    }
                    &_image-project1-3 {
                        &_mobile-version {
                            display: none
                        }
                    }
                    &_image-project1-4 {
                        &_mobile-version {
                            display: none
                        }
                    }
                    &_image-project2-1.active {
                        left: 490px;
                    }
                    &_image-project2-2.active {
                        left: 6%;
                    }
                    &_image-project1-3 {
                        display: none;
                    }
                    &_image-project3-3.active {
                        display: none
                    }
                    &_description-box-4.active {
                        left: 710px
                    }
                    &_image-project4-1.active {
                        left: 6%;
                    }
                    &_image-project4-2.active {
                        display: none;
                    }
                    &_image-project4-3.active {
                        right: 162px;
                    }
                    &_image-project5-1.active {
                        left: 582px;
                    }
                    &_image-project5-2.active {
                        left: 6%;
                    }
                    &_image-project6-2.active {
                        display: none
                    }
                    &_image-project6-3.active {
                        display: none
                    }
                    &_image-project7-4.active {
                        display: none
                    }
                    &_image-project7-3.active {
                        left: 40%;
                    }
                    &_description-box-7.active {
                        left: 40%;
                    }
                }
            }

            @media screen and (max-width:1200px) {
                .app-projects_image-project7-3.active {
                    display: none;
                }
            }

            @media screen and (max-width:1040px) {
                .description-box {
                    position: initial;
                    width: 100%;
                    margin: 0 auto;
                    width: 150px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    &.active {
                        position: initial;
                        width: 100%;
                        margin: 0 auto;
                        width: 150px;
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }
                }
                .app-projects {
                    &_container {
                        width: 93%;
                        margin: 0 auto;
                        min-height: 93vh;
                    }
                    &_content-wrap {
                        height: initial;
                    }
                    &_headline {
                        text-align: center;
                        position: initial;
                        margin-top: 70px
                    }
                    &_description-box-1 {
                        font-size: 14px;
                        max-width: 150px;
                        position: inherit;
                        top: 297px;
                        left: 6%;
                    }
                    &_description-box {
                        &-headline {
                            text-align: center;
                        }
                        &-description {
                            text-align: center;
                        }
                    }
                    &_project {
                        &-1 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                        &-2 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                        &-3 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                        &-4 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                        &-5 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                        &-6 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                        &-7 {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 10px;
                        }
                    }
                    &_image-project1-1 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px
                    }
                    &_image-project1-2 {
                        display: none;
                        &_mobile-version {
                            display: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                            transition: all 1.3s;
                            transform: translateX(-300%);
                            &.active {
                                position: initial;
                                width: 60%;
                                margin: 0 auto;
                                opacity: 1;
                                transform: translateX(0);
                                margin-bottom: 30px;
                            }
                        }
                    }
                    &_image-project1-3 {
                        display: none;
                        &_mobile-version {
                            display: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                            transition: all 1.3s;
                            transform: translateX(-300%);
                            &.active {
                                position: initial;
                                width: 60%;
                                margin: 0 auto;
                                opacity: 1;
                                transform: translateX(0);
                                margin-bottom: 30px;
                            }
                        }
                    }
                    &_image-project1-4 {
                        display: none;
                        &_mobile-version {
                            display: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                            transition: all 1.3s;
                            transform: translateX(-300%);
                            &.active {
                                position: initial;
                                width: 60%;
                                margin: 0 auto;
                                opacity: 1;
                                transform: translateX(0);
                                margin-bottom: 30px;
                            }
                        }
                    }
                    &_seperation-line-1 {
                        position: initial;
                        width: 65%;
                        margin: 0 auto;
                        &.active {
                            position: initial;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                    &_image-project2-1 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px
                        }
                    }
                    &_image-project2-2 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px
                        }
                    }
                    &_seperation-line-2 {
                        position: initial;
                        width: 65%;
                        margin: 0 auto;
                        &.active {
                            position: initial;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                    &_image-project3-1 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px
                        }
                    }
                    &_image-project3-2 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px
                        }
                    }
                    &_image-project3-3 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px
                        }
                    }
                    &_seperation-line-3 {
                        position: initial;
                        width: 65%;
                        margin: 0 auto;
                        &.active {
                            position: initial;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                    &_image-project4-1 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project4-2 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project4-3 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_seperation-line-4 {
                        position: initial;
                        width: 65%;
                        margin: 0 auto;
                        &.active {
                            position: initial;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                    &_image-project5-1 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project5-2 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_seperation-line-5 {
                        position: initial;
                        width: 65%;
                        margin: 0 auto;
                        &.active {
                            position: initial;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                    &_image-project6-1 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project6-2 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project6-3 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project6-4 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project6-5 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_seperation-line-6 {
                        position: initial;
                        width: 65%;
                        margin: 0 auto;
                        &.active {
                            position: initial;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                    &_image-project7-1 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project7-2 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project7-3 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_image-project7-4 {
                        position: initial;
                        margin: 0px auto;
                        width: 60%;
                        margin-bottom: 30px;
                        &.active {
                            display: initial;
                            position: initial;
                            margin: 0px auto;
                            width: 60%;
                            margin-bottom: 30px;
                        }
                    }
                    &_seperation-line-7 {
                        position: initial;
                        width: 65%;
                        margin: 0 auto;
                        &.active {
                            position: initial;
                            width: 65%;
                            margin: 0 auto;
                        }
                    }
                }
            }
