<div class="app-contact_container">
    <app-header></app-header>
    <div class="app-contact_content-wrap">
        <h3 @EnterLeaveHeadlineLeft class="app-contact_headline">CONTACT</h3>
        <div class="app-contact_content">
            <div @EnterLeaveTextleft class="app-contact_content-text">
                <p>SIMO ISAAK</p>
                <p>+49 15234567809</p>
                <p>info@eeraumconcept.de</p>
            </div>
            <img @EnterLeaveImageRight class="app-contact_image" [src]="'assets/images/services-1.jpg'" alt="room">
        </div>

    </div>
    <app-footer></app-footer>
</div>
