<div id="services" class="app-services_container">
    <app-header></app-header>
    <div class="app-services_content-wrap">
        <H3 class="app-services_headline" @EnterLeaveHeadlineLeft>WHAT WE DO</H3>
        <div class="app-services_content">

            <div class="app-services_content_pt1">
                <div @EnterLeaveProject1 class="app-services_content_pt1_section">
                    <p class="app-services_subheadline">SINGLE POINT OF CONTACT</p>
                    <p class="app-services_content_pt1_text">We handle every aspect of the project from beginning to end. We work hand in hand with architects, engineers, and a large association of expert craftsman to deliver the fully completed package to you. We work within your budget to
                        source materials and advise accordingly. You will have us as the single point of contact throughout the process and the buck stops with us, every time. Our aim is to remove stress and scheduling so that you can achieve your dream
                        renovation, on time, and as you imagined it.</p>
                </div>
                <div class="app-services_separation-line"></div>

                <div @EnterLeaveProject2 class="app-services_content_pt1_section">
                    <p class="app-services_subheadline">THINK OUTSIDE THE BOX</p>
                    <p class="app-services_content_pt1_text">We pride ourselves on our high quality of craftsmanship while keeping sight of the bigger picture. We will work within your budget to offer realistic and creative solutions. Often surprises pop up when working on existing buildings
                        in Berlin. Our specialty is solving problems quickly, effectively, and to the highest professional standard. We strive to have minimal impact on your neighbours so that all parties are happy with the outcome. We are available to
                        step-in and “rescue” any in progress building sites that might not be working out for you with other building companies.</p>
                </div>
                <div class="app-services_separation-line"></div>

                <div @EnterLeaveProject3 class="app-services_content_pt1_section-last">
                    <p class="app-services_subheadline">LANGUAGE AND RELATIONSHIP</p>
                    <p class="app-services_content_pt1_text">Our clients’ experience is paramount to us. We remove the language barrier to you realizing your dream. On our core team we have native English, German, Russian, and Arabic speakers. All our workers are covid-safe and vaccinated, wear
                        masks, and we respect your privacy and time frames. We know this is a very personal process and we are constantly available for questions, concerns, or if you change your mind along the way, we are there with you.</p>
                </div>
            </div>
            <div @EnterLeaveProject4 class="app-services_images">
                <img class="app-services_images-example" [src]="'assets/images/services-4.jpg'" alt="room">
                <img class="app-services_images-example" [src]="'assets/images/services-3.jpg'" alt="room">
            </div>

            <div #slideElement class="app-services_content_pt2">
                <p class="app-services_headline-pt2">OUR SERVICES INCLUDE</p>
                <p class="app-services_content_pt2-text">Commercial spaces and residential spaces</p>
                <div class="app-services_separation-line-visible"></div>
                <p class="app-services_content_pt2-text">Handyman service and repairs</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Major structural changes</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Architect and engineer consulting</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Demolition</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Drywall installation</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Floor plan changes</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Concreting</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Tiling</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Internal heating solutions, insulation and heating protection</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Isolation and noise protection</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Painting</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Cable laying and electrical</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Plastering</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Installation of household equipment</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Windows and glasswork</p>
                <div class="app-services_separation-line-visible"></div>

                <p class="app-services_content_pt2-text">Woodwork</p>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</div>
