/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #231F20;
    font-family: 'Roboto', sans-serif;
    color: white
}

body {
    margin: 0
}

// Media Queries for global stuff from Material Library
@media screen and (min-width:1800px) {
    .carousel {
        max-width: 600px !important;
    }
}