/* You can add global styles to this file, and also import other style files */

html {
    background: linear-gradient(to right, #231F20 50%, #000000 0%);
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0
}

// html {
//     background-color: #231F20;
//     font-family: 'Roboto', sans-serif;
// }
// body {
//     margin: 0
// }‚
// Media Queries for global stuff from Material Library
@media screen and (min-width:1800px) {
    .carousel {
        max-width: 600px !important;
    }
}